<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to here my frined to {{ title }}!
  </h1>
  <h2>{{Ciudad}}</h2>
  <h3>{{Ubicacion}}</h3>
  <h4>{{Referencia}}</h4>
  <br>
    <nav>
        <a [routerLink]="['/Home']" [routerLinkActive]="['active']">Home</a>
        &nbsp;
        <a [routerLink]="['/Hotel']" [routerLinkActive]="['active']">Hotel</a>
        &nbsp;
        <a [routerLink]="['/Edwin']" [routerLinkActive]="['active']">Edwin</a>
        &nbsp;
        <a [routerLink]="['/Departa']" [routerLinkActive]="['active']">Departamento</a>
    </nav>
  <br>
  <hr>
  <button (click)="ocultarComponente(true)" *ngIf="!mostrar">Mostrar</button>
  <button (click)="ocultarComponente(false)" *ngIf="mostrar">Ocultar</button>
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

